##Import

In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
from sklearn.metrics import r2_score

##ANN

In [26]:


df = pd.read_csv('/content/House Price India.csv')
df.drop('Date', axis=1, inplace=True)

X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

model = Sequential()
model.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=128, activation='relu'))
model.add(Dense(units=256, activation='relu'))
model.add(Dense(units=512, activation='relu'))
model.add(Dense(units=1, activation='linear'))

In [29]:
model.compile(loss='mean_squared_error', optimizer=Adam(learning_rate=0.001))

model.fit(X_train, y_train, epochs=200, batch_size=64, validation_split=0.2, verbose=0)

In [30]:

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)
print("R^2 Score: ", r2)

92/92 [==============================] - 0s 2ms/step
R^2 Score:  0.969205680591712

In [31]:
r2*100

96.9205680591712

##Test

In [15]:
df.head()

,id,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,5,2.50,3650,9050,2.0,0,4,5,10,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,4,2.50,2920,4000,1.5,0,0,5,8,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,5,2.75,2910,9480,1.5,0,0,3,8,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,4,2.50,3310,42998,2.0,0,0,3,9,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,3,2.00,2710,4500,1.5,0,0,4,8,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [32]:
# Select a row from the test data
row = X_test[0]

# Reshape the row to match the input shape of the model
row = row.reshape(1, -1)

# Make predictions on the row
y_pred = model.predict(row)

# Print the predicted price
print(y_pred)

1/1 [==============================] - 0s 23ms/step
[[228565.8]]

In [35]:
# Select a row from the test data
row = X_test[3]

# Reshape the row to match the input shape of the model
row = row.reshape(1, -1)

# Make predictions on the row
y_pred = model.predict(row)

# Print the predicted price
print(y_pred)

1/1 [==============================] - 0s 28ms/step
[[551266.4]]

In [36]:
# Select a row from the test data
row = X_test[4]

# Reshape the row to match the input shape of the model
row = row.reshape(1, -1)

# Make predictions on the row
y_pred = model.predict(row)

# Print the predicted price
print(y_pred)

1/1 [==============================] - 0s 39ms/step
[[633867.44]]